<h1>Auth Queue Fix has been Applied</h1>
<h2>Check that the trip with the Quote Number you entered has been removed from the Auth Queue</h2>

<h2><a class="btn btn-default" asp-action="QuoteLookup" asp-controller="Home">Lookup</a></h2>
